<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.crysis.loginpage">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Olio"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PasswordActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity
            android:name=".SecondActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".UpdatePassword" />
        <activity android:name=".UpdateProfile" />
        <activity android:name=".PostDetailActivity" />
        <activity
            android:name=".insertFood"
            android:label="Upload Food"
            android:theme="@style/AppTheme" />
        <activity android:name=".justGone"></activity>
    </application>

</manifest>